
button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
button{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    background-color: #1a0761;
    width: 800px;
    border-radius: 15px;
}

.quote{
    padding: 60px 110px;
    color: white;
    font-size: 32px;
    text-align: center;
}

.line{
    width: 680px;
    height: 1.5px;
    background-color: white;
}
 

.botttom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
 